#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  
  padding : 0% 10% 0% 10%;
}

ion-button {
	margin-top : 10%;
}

ion-content ion-toolbar, ion-item{
  --background: translucent;
}